* {
  box-sizing: border-box;
}

html {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  font-size: 15px;
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
  width: 98%;
  margin: 10px 0 10px 5px;
}

@media (min-width: 800px) {
  body {
    margin: 10px;
    background-color: rgba(255, 255, 255, 1);
  }
}

div {
  height: auto;
  width: 100%;
  background-color: rgba(220, 220, 220, 0.7);
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 700px) {
  div {
    background: rgba(220, 220, 220, 0.7);
  }
}

 /* header*/
#title {
  text-align: center;
  font-size: 50px;
  margin-top: 0;
  color: rgb(50, 50, 50);
}

.center {
  text-align: center;
  margin-top: -25px;
}

figure {
  display: block;
  border-radius: 6px;
  background-color: white;
  padding: 10px 10px 10px 10px;
}

#img-div {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px 5px 0 5px;
  margin: 0 2px;
}

#image {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  margin: 0 auto 0 auto;
  border: 2px solid rgba(112, 128, 144);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  box-shadow: ;
}

#img-caption {
  display: block;
  text-align: center;
  margin: 15px 0 15px 0;
  padding-bottom: 10px;
  font-size: 20px;
  color: rgb(50, 50, 50);
}
/* end of header */


#main {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 600px;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: rgb(50, 50, 50);
}

ul {
  line-height: 1.5;
  padding: 0 50px 0 50px;
  font-size: 18px;
  color: rgb(50, 50, 50);
}

ul > li {
  padding: 15px 0 15px 0;
  text-align: left;
  word-wrap: break-word;
}
/*
ul > li:hover {
  font-size: 16px;
}
*/
ul > li:last-child {
  margin-bottom: 60px;
}

blockquote {
  text-align: left;
  line-height: normal;
  font-size: 17px;
}

blockquote > p:hover {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0;
  color: rgb(47, 79, 79);
}

/* footer  */
footer {
  margin-top: 50px;
  padding: 0 40px;
  color: rgb(50, 50, 50);
  font-weight: bolder;
}

@media (min-width: 900px) {
  footer {
    margin: 50px 100px;
    padding: 0 40px;
  }
}
a:hover {
  color: rgb(210, 180, 140);
  font-size: 20px;
  background-color: rgb(0, 0, 192);
  cursor: pointer;
}
